*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    
    background-color:rgb(1, 25, 54);
    color:white;
    height:13vmin;
    line-height:13vmin;
}
.choice{
    height:160px;
    width:160px;
}
 img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 img:hover{
    border:5px solid black;
    opacity:50%;
    cursor: pointer;
 }
 .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:50px;
 }
 .scores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    margin-top:50px;
    gap:70px;
 }
 #userscore, #compscore{
    font-size:4rem;

 }
 .msg{
    margin-top:50px;
 }
 #mesg{
    background-color:rgb(1, 25, 54);
    color:white;
    font-size:2rem;
    display: inline;
    border-radius:2rem;
    padding:1rem;

 }


 